body, a {
    /*background-image: url(1080.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;*/
    background-color: rgb(15,30,40);
color: rgb(255, 255, 255) !important;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-decoration: none;
}

h1{
    margin: 1.5%;
}

main {
    text-align: center;
    margin: 0% 15%;
}

article {
    max-width: 29%;
    display: inline-block;
    margin: 0% 10%;
}

div {
    margin: 5% 5%;
}

.portfolio > article {
max-width: 27%;
color: rgb(255, 255, 255) !important;
}

h4 {
    display: inline-block;
}

footer > h4{
    margin: 25%, 25%,;
}

input, textarea {
    width: 80%;
    margin-left: 8.5%;
    margin-right: 10%;
    margin-bottom: 1%;
}

textarea {
    height: 25%;
}

button {
    margin-left: 86%;
}

footer{
    margin-left: 1.5%;
}

a:visited {
    color: rgb(255, 255, 255);
}

.article-image {
	
	height:  330px;
	width: 100%;
	background-size: cover !important;
	background-position: center !important;
}
