body {
background-image: url(fgl.jpg);
background-size: 100%;
background-position: absolute;

}

h1{
    margin: 1.5%;
}

main {
    text-align: center;
    margin: 0% 10%;
}

article {
    max-width: 25%;
    display: inline-block;
    margin: 0% 3%;
}

div {
    margin: 5% 5%;
}



